{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% block 'css' %}{% endblock 'css' %}
</head>
<body>
    {% block 'header' %}{% endblock 'header' %}

    {% block 'content' %}{% endblock 'content' %}
        <h1>HEllO WORLD!</h1>
        <br>
        <h2>cuidex</h2>
    {% block 'footer' %}{% endblock 'footer' %}


    {% block 'js' %}
        <script></script>
    {% endblock 'js' %}
</body>
</html>








